@import '../abstracts/variable';
@import '../abstracts/mixin';

.wrapPageRoomDetail {
    background-color: $color1;
    padding: 60px 0 45px 0;
}

.avatarPromotionDetail {
    width: 100%;
    height: auto;
}

.titleMainRoomDetail {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
}

.wrapDescriptionRoomDetail {
    font-size: 16px;
    line-height: 28px;
    color: $color7;
}

.wrapTitleAndPriceRoomDetail {
    position: relative;
}

.wrapRoomWouldLike,
.wrapAmenitiesRoomDetail {
    margin-top: 60px;
}

.listAmenitiesRoomDetail {
    padding: 0;
    list-style: none;
}

.titleMainRoomWouldLike,
.titleMainAmenitiesRoomDetail {
    font-size: 36px;
    line-height: 46px;
}

.contentItemAmenitiesRoomDetail {
    position: relative;
    padding-left: 25px;
}

.colItemAmenitiesRoomDetail {
    margin-top: 15px;
}

.wrapicTienIchPhong {
    position: absolute;
    top: 0;
    left: 0;

    img {
        width: 20px;
        height: auto;
    }
}

.textTienIchPhong {
    font-size: 16px;
    line-height: 26px;
    color: $color7;
    margin: 0;
}

.listAmenitiesRoomDetail {
    margin-top: 15px;
}

.showTextItemUtilities {
    font-size: 16px;
    line-height: 26px;
    color: $color7;
    margin-top: 10px;

    p {
        margin-bottom: 5px;
    }
    
    ul {
        padding: 0 0 0 18px;
        margin: 0;
    }

    li {
        margin-top: 10px;
        color: $color2;
    }
}

@media (max-width: 1199px) {
    .wrapSlideCtrRoomDetail {
        padding: 0 12px 0 10px;
    }
}

@media (max-width: 991px) {
    .wrapPageRoomDetail {
        padding: 30px 0 15px 0;
    }

    .wrapRoomWouldLike,
    .wrapAmenitiesRoomDetail {
        margin-top: 30px;
    }

    .colTextRoomDetail {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .titleMainRoomDetail {
        font-size: 28px;
        line-height: 38px;
    }
}

// would you like
.itemSlideRoomWouldLike {
    padding: 0 15px;
}

.wrapSlideRoomWouldLike {
    margin: 30px -15px 0 -15px;

    .btnSlideType1  {
        border-top: 3px solid $color1;
        border-left: 3px solid $color1;

        &.left {
            left: 40px;
            right: auto;
        }
    
        &.right {
            right: 40px;
        }

        &:hover {
            border-top: 3px solid $color2;
            border-left: 3px solid $color2;
        }
    }
}

.elementSlideLatestNews {
    @include opacity(1);
    @include transform(scale(1));
    padding-bottom: 15px;
}

.wrapOverInfoItemLatestNews {
    @include boxShadow($boxShadow1);
    min-height: 260px;
}

.titleHeadingLatestNews {
    @include splitText(2, 48px);
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 991px) {
    .wrapSlideRoomWouldLike {    
        .btnSlideType1  {  
            width: 15px;
            height: 15px;

            &.left {
                left: 20px;
            }
        
            &.right {
                right: 25px;
            }
        }
    }

    .elementSlideLatestNews {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .wrapSlideRoomWouldLike {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
}

@media (max-width: 480px) {
    .wrapOverInfoItemLatestNews {
        min-height: auto;
        min-height: unset;
        min-height: none;
    } 
    
    .titleHeadingLatestNews {
        @include splitText(3, 72px);
    }
}
// end would you like