$color1: white;
$color2: #ff9900;
$color3: #4d3216;
$color4: #f6f6f6;
$color5: #888888;
$color6: #222;
$color7: #333;
$color8: rgba(0, 0, 0, 0.8);
$color9: black;
$color10: rgba(0, 0, 0, 0.3);
$color11: #272727;
$color12: #fff3c6;
$color13: rgba(243, 243, 243, 0.8);
$color14: #ddd;
$color15: rgba(255, 255, 255, 0.8);
$color16: rgba(255, 255, 255, 0.95);
$color17: #ececec;
$color18: #ff9900;
$color19: red;
$color20: #495057;

$boxShadow1: 0px 0px 15px 0px rgba(0,0,0,0.5);

$gradient1: 0deg,#ff9900,rgba(219, 173, 0, 0);

$nameFont1: 'OpenSans';
$nameFont2: 'IBMPlexSerif';
$nameFont3: 'Charm';